<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>errDate</th>
            <th>errTitle</th>
            <th>errContent</th>
        </tr>
        <tr th:unless="${size} == '0'" th:each="list : ${list}">
            <td th:text="${list.logDate}">Alfreds Futterkiste</td>
            <td th:text="${list.errorTitle}">Maria Anders</td>
            <td th:text="${list.errorMsg}">Germany</td>
        </tr>
    </table>

</body>
</html>